apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-api
spec:
  template:
    spec:
      containers:
      - name: service
        image: us-west1-docker.pkg.dev/aggie-experts/pub/webapp:anduin