apiVersion: apps/v1
kind: Deployment
metadata:
  name: dagster-daemon
spec:
  template:
    spec:
      containers:
        - name: service
          image: us-west1-docker.pkg.dev/aggie-experts/pub/harvest:anduin
