services:

  auth-gateway:
    image: ${IMAGE_AGGIE_EXPERTS_ANDUIN_GATEWAY}
    restart: always
    env_file: 
      - .env
    depends_on:
      - postgres
    environment:
      - PORT=4000
      - APP_NAME=Aggie Experts - Harvest
      - POSTGRES_PASSWORD=postgres
      - CASK_URL=http://caskfs-ui:3000
      - DAGSTER_URL=http://dagster-ui:3000
      - DEFAULT_DASHBOARD_LINK=/superset/superset/dashboard/1
    ports:
      - "4000:4000"

  dagster-ui:
    image: ${IMAGE_AGGIE_EXPERTS_HARVEST}
    env_file:
      - .env
    environment:
      - DAGSTER_POSTGRES_USER=postgres
      - DAGSTER_POSTGRES_PASSWORD=postgres
      - DAGSTER_POSTGRES_DB=dagster
      - DAGSTER_CURRENT_IMAGE=${IMAGE_AGGIE_EXPERTS_HARVEST}
    volumes:
      - dagster_storage:/opt/dagster/dagster_home/storage
    depends_on:
      - postgres
    command: ["dagster-webserver", "--path-prefix", "/dagster", "-h", "0.0.0.0", "-p", "3000", "-w", "/opt/dagster/dagster_home/workspace.yaml"]

  dagster-daemon:
    image: ${IMAGE_AGGIE_EXPERTS_HARVEST}
    env_file:
      - .env
    environment:
      - EXPERTS_CACHE_ROOT_DIR=/opt/cache
      - GOOGLE_APPLICATION_CREDENTIALS=/service-account.json
      - DAGSTER_POSTGRES_USER=postgres
      - DAGSTER_POSTGRES_PASSWORD=postgres
      - DAGSTER_POSTGRES_DB=dagster
      - DAGSTER_CURRENT_IMAGE=${IMAGE_AGGIE_EXPERTS_HARVEST}
    volumes:
      # dagster
      - ./service-account.json:/service-account.json:ro
      - dagster_storage:/opt/dagster/dagster_home/storage
      - data_cache:/opt/cache
    depends_on:
      - postgres
    command: ["dagster-daemon", "run", "-w", "/opt/dagster/dagster_home/workspace.yaml"]

  dagster-celery-worker:
    image: ${IMAGE_AGGIE_EXPERTS_HARVEST}
    env_file:
      - .env
    environment:
      - EXPERTS_CACHE_ROOT_DIR=/opt/cache
      - DAGSTER_POSTGRES_USER=postgres
      - DAGSTER_POSTGRES_PASSWORD=postgres
      - DAGSTER_POSTGRES_DB=dagster
      - DAGSTER_CURRENT_IMAGE=${IMAGE_AGGIE_EXPERTS_HARVEST}
      - GOOGLE_APPLICATION_CREDENTIALS=/service-account.json
    volumes:
      # dagster
      - ./service-account.json:/service-account.json:ro
      - dagster_storage:/opt/dagster/dagster_home/storage
      - data_cache:/opt/cache
    depends_on:
      rabbitmq:
        condition: service_started
      postgres:
        condition: service_healthy
    command: ["dagster-celery", "worker", "start", "-A", "dagster_celery.app", "-y", "/opt/dagster/dagster_home/celery_config.yaml"]

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672" 
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  caskfs-ui:
    image: ${IMAGE_AGGIE_EXPERTS_HARVEST}
    env_file:
      - .env
    environment:
      - EXPERTS_CACHE_ROOT_DIR=/opt/cache
      - CASKFS_PG_HOST=postgres
      - CASKFS_ENABLE_POWERWASH=true
      - CASKFS_ROOT_DIR=/opt/cache
      - CASKFS_ACL_ENABLED=false
      - CASKFS_WEBAPP_PATH_PREFIX=/cask
    volumes:
      # caskfs code
      - data_cache:/opt/cache
    depends_on:
      - postgres
    command: ["cask", "serve"]

  postgres:
    image: ${IMAGE_AGGIE_EXPERTS_AE_POSTGRES}
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ${PG_DATA_DIR}:/var/lib/postgresql/data

  superset:
    image: ${IMAGE_PROJECT_ANDUIN_SUPERSET}
    env_file:
      - .env
    environment:
      - DASHBOARD_FILE=gs://anduin-dashboards/dashboard_prod.zip
      - GOOGLE_APPLICATION_CREDENTIALS=/service-account.json
      - SUPERSET_APP_ROOT=/superset
    depends_on:
      - postgres
    volumes:
      - ./service-account.json:/service-account.json:ro
      - superset_home:/app/superset_home
      - superset_init:/etc/superset/init
    # command: ["bash", "-c", "/app/docker/superset-start.sh"]
    # command: ["bash", "-c", "tail -f /dev/null"]

  elasticsearch:
    image: ${IMAGE_AGGIE_EXPERTS_ELASTIC_SEARCH}
    environment:
      - node.name=elasticsearch
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms4g -Xmx4g"
    ports:
       - 9200:9200
    ulimits:
      memlock:
        soft: -1
        hard: -1
    healthcheck:
      test: ['CMD-SHELL', 'if curl -s -o /dev/null -w "%{http_code}" http://localhost:9200/_ingest/pipeline/aggie-experts-pipeline | grep -q "200"; then exit 0; else curl -X PUT -H "Content-Type: application/json" -d ''{"description":"Adds a modified-date field","processors":[{"set":{"field":"modified-date","value":"{{_ingest.timestamp}}"}}]}'' http://localhost:9200/_ingest/pipeline/aggie-experts-pipeline || exit 1; fi']
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    volumes:
      - es-data:/usr/share/elasticsearch/data
    restart: unless-stopped

  gateway:
    image: ${IMAGE_AGGIE_EXPERTS_WEBAPP}
    ports:
      - "8080:3000"
    depends_on:
      elasticsearch:
        condition: service_healthy
    restart: unless-stopped
    command: npm run gateway
    # command: bash -c 'tail -f /dev/null'

  spa:
    image: ${IMAGE_AGGIE_EXPERTS_WEBAPP}
    environment:
      - CLIENT_ENV=${CLIENT_ENV:-production}
      - EXPERTS_IS_PUBLIC=${EXPERTS_IS_PUBLIC:-true}
    depends_on:
      elasticsearch:
        condition: service_healthy
    restart: unless-stopped
    command: npm run spa
    # command: bash -c 'tail -f /dev/null'

  api:
    image: ${IMAGE_AGGIE_EXPERTS_WEBAPP}
    env_file:
      - .env
    depends_on:
      elasticsearch:
        condition: service_healthy
    restart: unless-stopped
    command: npm run api
    # command: bash -c 'tail -f /dev/null'

  kibana:
      image: docker.elastic.co/kibana/kibana:8.4.3
      ports:
       - 5601:5601
      environment:
        - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
        - ELASTICSEARCH_URL=http://elasticsearch:9200
        - SERVER_BASEPATH=/kibana
        - SERVER_REWRITEBASEPATH=true
        - SERVER_PUBLICBASEURL=http://localhost:4000/kibana
        - xpack.security.enabled=false
        - telemetry.enabled=false
      depends_on:
        - elasticsearch

volumes:
  data_cache:
    driver: local
  dagster_storage:
    driver: local
  # pg_data:
  #   driver: local
  superset_home:
    driver: local
  superset_init:
    driver: local
  es-data:
    driver: local
  rabbitmq_data:
    driver: local