apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base
- service.yaml

patches:
  - path: deployment.yaml
    target:
      kind: Deployment
      name: dagster
    options:
      allowNameChange: true   