apiVersion: apps/v1
kind: Deployment
metadata:
  name: dagster-daemon
spec:
  selector:
    matchLabels:
      app: dagster-daemon
  template:
    metadata:
      labels:
        app: dagster-daemon
    spec:
      containers:
      - name: service
        command: ["dagster-daemon", "run", "-w", "/opt/dagster/dagster_home/workspace.yaml"]